<!DOCTYPE html>
<html lang="br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/awesome-lineca-vol-3/17/themify-favicon-alt-512.png"
        type="image/x-icon">
    <title>Chat IO</title>

    <style>
        .chat {
            display: flex;
            flex-direction: column;
        }

        .chat span {
            margin-bottom: 10px;
        }

        form {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <header></header>

    <main>
        <div class="chat"></div>

        <form>
            <input type="text" placeholder="Insire seu nome">
            <input type="text" placeholder="Mensagem">
            <button type="submit">Enviar</button>
        </form>
    </main>

    <footer>
        <!-- https://cdnjs.com/libraries/socket.io -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"
            integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            window.onload = function () {
                const socket = io('http://127.0.0.1:5000');
                socket.on('connect', () => {
                    socket.send('Usuário conectado ao socket!')
                });

                function addToChat(msg) {
                    const span = document.createElement("span");
                    const chat = document.querySelector(".chat")
                    span.innerHTML = `<strong>${msg.name}:</strong> <i>${msg.message}</i>`;
                    chat.append(span);
                }

                document.querySelector("form").addEventListener("submit", function (event) {
                    event.preventDefault();

                    socket.emit('sendMessage', { name: event.target[0].value, message: event.target[1].value })
                    event.target[0].value = "";
                    event.target[1].value = "";
                });

                socket.on('getMessage', (msg) => {
                    addToChat(msg);
                });

                socket.on('message', (msgs) => {
                    for (msg of msgs) {
                        addToChat(msg);
                    }
                });
            }
        </script>
    </footer>
</body>

</html>